.footer {
    background-color: #222222;
    display: grid;
    grid-template-columns: max-content auto max-content;
    padding-left: 4px;
    padding-right: 4px;
    // TODO: Feels like a bit of a hack
    outline: 1px solid #5e5e5e;
}

.footer>* {
    padding-left: 4px;
    padding-right: 4px;
    line-height: 24px;
}
