@import 'common';

.hexview {
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
    padding: 0px 8px 8px 8px;
}

.hexview-grid {
    flex: 1;
    display: grid;
    grid-template-columns: min-content repeat(4, 32px) 1px repeat(4, 32px) 1px repeat(4, 32px) 1px repeat(4, 32px) 6px repeat(16, 10px);
    grid-auto-rows: 18px;
    overflow-y: hidden;
}

.hexview-grid-divider {
    background-color: #5e5e5e;
}

.hexview-header {
    display: grid;
    grid-template-columns: subgrid;
}

.hexview-filename {
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 20px;
    line-height: 20px;
    width: 100%;
}

.hexview-fileinput {
    display: none;
}

.hexview-header-offsets-container {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: subgrid;
    height: 20px;
}

.hexview-header-filler {
    background-color: $theme-shade1;
    text-align: center;
    font-size: 10px;
    padding: 4px;
}

.hexview-header-offset {
    background-color: $theme-shade1;
    color: #9d9d9d;
    width: 32px;
    text-align: center;
    height: 18px;
    line-height: 18px;
}

.hexview-header-textoffset {
    background-color: $theme-shade1;
    color: #9d9d9d;
    width: 10px;
    text-align: center;
    height: 18px;
    line-height: 18px;
}

.hexview-rows {
    display: contents;
    overflow: hidden;
}

.hexview-row {
    display: contents;
}

.hexview-row-selected {
    background-color: #0077ff55;
}

.hexview-row-header {
    grid-column: 1;
    text-align: right;
    color: rgb(157, 157, 157);
    margin-right: 10px;
    height: 18px;
    line-height: 18px;
}

.hexview-row-selected>.hexview-row-header {
    color: #eeeeee;
}

.hexview-row-char-container,
.hexview-row-byte-container {
    display: grid;
    cursor: text;
}

.hexview-row-byte-container-even,
.hexview-row-char-container-even {
    background-color: #151515;
}

.hexview-row-byte-container-odd,
.hexview-row-char-container-odd {
    background-color: #222222;
}

.hexview-row-char-container>*,
.hexview-row-byte-container>* {
    grid-area: 1 / 1 / -1 / -1;
    height: 18px; // Firefox like to make it 19px for some reason?
    line-height: 18px;
    pointer-events: none;
    vertical-align: middle;
}

.hexview-row-byte-container {
    user-select: none;
    width: 32px;
    text-align: center;
    appearance: none;
}

.hexview-row-byte-zero,
.hexview-row-char-zero {
    color: #555555;
}

.hexview-row-byte-selected,
.hexview-row-char-selected {
    color: #eeeeee;
    background-color: #0077ff77;
}

.hexview-row-byte-selected.hexview-row-byte-zero,
.hexview-row-char-selected.hexview-row-char-zero {
    color: #888888;
}

.hexview-row-char {
    user-select: none;
}
