@import 'common';

.parsed {
    display: grid;
    grid-template-rows: min-content 1fr;
}

.parsed-title {
    grid-column: 1 / -1;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

.parsed-title-text {
    padding-right: 20px;
}

.parsed-grid {
    display: grid;
    overflow-x: auto;
    // overflow-y: hidden;
    grid-template-columns: repeat(6, minmax(200px, auto));
    grid-auto-rows: 19px;
}

.parsed-header {
    display: contents;
}

.parsed-header>* {
    position: sticky;
    top: 0%;
    background-color: $theme-shade1;
}

// One off because the header takes up an element
.parsed-grid>*:nth-child(12n+2),
.parsed-grid>*:nth-child(12n+3),
.parsed-grid>*:nth-child(12n+4),
.parsed-grid>*:nth-child(12n+5),
.parsed-grid>*:nth-child(12n+6),
.parsed-grid>*:nth-child(12n+7) {
    background-color: #151515;
}

.parsed-grid>*:nth-child(12n+8),
.parsed-grid>*:nth-child(12n+9),
.parsed-grid>*:nth-child(12n+10),
.parsed-grid>*:nth-child(12n+11),
.parsed-grid>*:nth-child(12n+12),
.parsed-grid>*:nth-child(12n+13) {
    background-color: #222222;
}

.parsed-row-color {
    padding: 2px;
}

.parsed-row-color>* {
    height: 100%;
    width: 100%;
}

.parsed-row-value {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
